body{
	/* background-image: url('../../assets/images/dark-pink-.jpg'); */
	background-color:#fff !important;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
div.container{
	padding: 20px;
	margin: 50px auto;
	background-color: #EEEEEE
}
button.btn{
	border-radius:0;
}
div.submit{
	text-align: center;
	display: none;
	margin-top: 50px;
}
label{
	/* font-weight: bolder; */
	color: #294a63 !important;
}
span.err,span.succ{
	display: none;
}