body{
	background-image: url('../../assets/images/indian-nature-2.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
input.form-control:focus,select.form-control:focus{
	border-color: black;
	box-shadow: none;
}
h4.userheader{
	margin-bottom: 30px;
	margin-top: 20px;
}
div.btnactgrp{
	margin-bottom: 15px;
}
div.modal-body{
	background-color: #F5F5F5
}
i.fas{
	font-size: 16px;
}
td{
	text-transform: uppercase;
	color: black;
}
label{
	font-weight: bolder;
	margin-bottom: 0;
}
i.fas{
	border: none;
	margin: auto;
	padding: 0;
	background-color: transparent;
	color: white;
}
i.fas{
	cursor: pointer;
}
button.bradius{
	border-radius: 0
}
div.pwderr{
	display: none;
}
.container,.container-fluid{
	margin: auto;
}
div.total_link{
	border: 1px solid black;
	background-color: #FAFAFA;
	font-weight: bolder;
}
div.value{
	font-size: 50px;
	text-align: center;
	color: black;
}
.total-column {
    word-break: break-all;
    text-align: center;
	padding: 0 !important;
}
.panel_s {
	margin-bottom: 0 !important;
    border: none;
    -webkit-box-shadow: 0 1px 15px 1px rgb(90 90 90 / 8%);
    box-shadow: 0 1px 15px 1px rgb(90 90 90 / 8%);
}
.panel-body{
    background: #f9fafc;
    padding: 10px 5px;
	border: 1px solid #dce1ef;
	color:#294a63;
}
.panel-body h3{
	font-weight: bold;
}
h3._total {
    font-weight: bold;
    /* margin: 0; */
    margin: 10px 0;
    font-size: 20px;
	color:#294a63;
	/* color: #000; */
}
.total-column span {
    word-break: break-word;
}






@media only screen and (max-width: 362px) {
	div.inh{
		width: 120px
	}
}
@media only screen and (max-width: 500px) {
	h4.userheader{
		margin-bottom: 30px;
		margin-top: 20px;
	}
	div.btnactgrp{
		margin-bottom: 5px;
	}
	div.table-responsive{
		margin-bottom: 60px;
	}
	div.inh{
		width: 120px
	}
}
@media only screen and (max-width: 767px) {
	div.inh{
		width: 120px
	}
}
@media only screen and (max-width: 1157px) {
	div.inh{
		width: 120px
	}
}